h2, h3, h4, h5 {
  padding: 0;
  border:0;
  margin:0;
}
body{
  background: linear-gradient(to bottom, #BDD1B6, #F6FAF5);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: regular;
  border-left: 20px solid #4F6149;
  padding: 15px 15px 15px 25px;
  
  
}
header h1{
  font-size: 65px;
  padding: 5px;
  border-bottom: 3px solid #4F6149;
  margin: 15px 10px 15px 10px;
}
header ul{
  text-align: right;
  list-style-type: none;
  margin: 10px 10px 50px 15px;
  display: inline;
  
}
header ul li a{
  text-decoration: none;
  color: #4F6149;
}
h2{
  font-size: 45px;
  margin: 50px;
}
p{
  font-size: 18px;
  margin: 15px 15px 25px 15px;
}

ul li{
  font-size: 18px;
}
h3{
  font-size: 28px;
  border-bottom: 3px solid #4F6149;
  margin-top: 10px;
  margin-bottom: 5px;
  
}
h4{
  font-size: 20px;
 float: left;
}
h5{
  font-size: 18px;
  text-align: right;
  margin-right: 15px;
}
